.card-list{
    width : 85vw;
    margin : 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: solid 1px gray;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 1;
    -moz-osx-font-smoothing : grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out ;
    padding: 25px;
}

.card-container :hover {
    transform : scale(1.05)
}
@media(width < 800px) {
    .card-list {
        grid-template-columns: 1fr;
        row-gap: 0px;
        column-gap: 10px;
        width : auto;
    }
}